@media (min-width: 1200px) {
	.container{
        max-width: 700px;
    }
}
.square, .x, .o, .frozen {
    padding-right: 0px;
    padding-left: 0px;
    display: inline-block;
    float: none;
    margin: -2px;
}
.x, .o{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.square:hover {
    cursor: pointer;
    background-color: lightblue;
}
.h {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.v {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.center {
    dsiplay: block;
    margin-right: auto;
    margin-left: auto;
}